*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color : #d9bf77;
    --gray-color :  #727272;
    --light-gray : #999999;
    --light-black : rgba(0, 0, 0, .5);
}

button {
    width: 260px;
    height: 52px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 30px;
    line-height: 42px;
    color: var(--light-black);
    font-weight: 700;
}

h4 {
    font-size: 26px;
    color: white;
}

h5 {
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray);
}

p {
    line-height: 29px;
    color: var(--light-gray);
    font-weight: 400;
}

section.hero {
    height: 100vh; 
    background: url(./assets/images/main-bg1.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header {
    position: absolute;
    z-index: 2;
}

header {
    position: absolute;
    width: 100%;
    height: 69px;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 25px;
}

nav .burger-menu {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

nav .burger-menu span {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 30px;
}

nav .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .logo h4 {
    text-transform: uppercase;
}

nav .logo span {
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    color: var(--main-color);
    font-weight: bold;
}

nav .links {
    display: flex;
    justify-content: space-around;
    width: 25.9%;
}

nav .links li {
    list-style: none;
    padding: 0 10px;
}

nav .links li a {
    text-decoration: none;
    color: var(--gray-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    transition: .4s;
}

nav .links li a:hover {
    color: white;
}

nav .links li a.active {
    color: var(--main-color);
}

section.hero aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    height: 100%;
}

section.hero aside .description {
    min-width: 63%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 13px;
}

section.hero aside .description h1 {
    color: #ffffff;
    font-size: 58px;
    line-height: 64px;
}

section.hero aside .page-numbers {
    width: 26%;
    height: 19%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
}

section.hero aside .page-numbers span {
    cursor: pointer;
}

section.hero aside .page-numbers span.active {
    color: var(--main-color);
}

section.about {
    max-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

section.about .about-description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

section.about .about-description div {
    width: 502px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 36px;
}

section.about .about-description div h2 {
    color: #000;
}

section.about .about-description div span {
    display: block;
    font-size: 15px;
    color: var(--main-color);
}

section.about .image {
    width: 50%;
}

section.about .image img{
    height: 100%;
    width: 100%;
}

section.about .achievements {
    background: url(/assets/images/main-bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 250px;
}

section.about .achievements .rating {
    margin: 0 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    z-index: 5;
}

section.about .achievements .rating h4 {
    font-size: 40px;
    line-height: 50px;
}

section.about .achievements .rating h4 span {
    color: var(--main-color);
    font-size: 22px;
}

section.offers {
    display: flex;
}

section.offers .image {
    width: 50%;
    height: 100%;
}

section.offers .image img {
    object-fit: cover;
    height: 750px;
    max-height: 750px;
    width: 100%;
}

section.offers .offer-description {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px 0 30px 70px;
}

section.offers .offer-description * {
    margin-bottom: 10px;
}

section.offers .offer-description  h2 {
    color: #000;
    display: flex;
    flex-direction: column;
    line-height: 27px;
}

section.offers .offer-description .description-p {
    max-width: 80%;
}

section.offers .offer-description  h2 span {
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--main-color);
}

section.offers .offer-description  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.offers .offer-description  ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.offers .offer-description  ul li .circle {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    color: white;
}

section.offers .offer-description  ul li p {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

section.offers .offer-description  ul li p span {
    font-weight: 700;
    color: #000;
    font-size: 18px;
}

section.offers .offer-description  ul li p span:last-child {
    font-size: 16px;
    line-height: 29px;
    color: var(--light-gray);
    font-weight: 400;
}

section.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    background-color: rgb(248, 248, 248);
}

section.cards .card {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 15px;
    color: var(--light-gray);
}

section.cards .card h2 {
    color: #000;
    font-weight: 600;
    max-width: 100%;
}

section.cards .card p {
    width: 100%;
    text-align: center;
}

section.work {
    padding: 110px 0;
}

section.work h3 {
    width: 69%;
    margin: 0 auto;
    font-size: 15px;
    color: var(--main-color);
    line-height: 27px;
}

section.work .filter-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto 80px;
}

section.work .filter-projects h2 {
    color: rgba(0, 0, 0, .8);
    width: 38%;
}

section.work .filter-projects ul {
    display: flex;
    min-width: 50%;
}

section.work .filter-projects ul li {
    list-style: none;
    margin: 0 10px;
}

section.work .filter-projects ul li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 23px;
    color: rgba(0, 0, 0, .3);
    font-weight: 700;
}

section.work .filter-projects ul li a.active {
    color: var(--main-color);
}

section.work .projects {
    display: grid;
    grid-template-columns: repeat(4,minmax( 120px, 380px));
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    gap: 30px;
}

section.work .projects .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .4s all;
    position: relative;
    overflow: hidden;
}

section.work .projects .image a {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    display: none;
}

section.work .projects .image span {
    margin-top: 60px;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    display: none;
}

section.work .projects .image img {
    width: 380px;
    height: 300px;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

section.work .projects .image:hover a {
    display: flex;
}

section.work .projects .image:hover span {
    display: flex;
}

section.work .projects .image:hover {
    background-color: rgba(0, 0, 0, 0.726);
}

section.clients {
    margin: 60px 0;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding-bottom: 112px;
}

section.clients span:first-child {
    color: var(--main-color);
    line-height: 27px;
    font-size: 17px;
}

section.clients h2 {
    margin-bottom: 20px;
    color: #000;
}

section.clients .client {
    height: 262px;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

section.clients .client img {
    width: 70px;
    border-radius: 100% ;
    box-shadow: 1px 1px 5px #000;
}

section.clients .client p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.8rem;
    color: #000;
}

section.clients .client span {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

section.clients .client h4 {
    font-size: 18px;
}

section.clients .dots {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

section.clients .dots .dot{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #d6d6d6;
    cursor: pointer;
}

section.clients .dots .dot.active {
    background-color: #000;
}

section.blog {
    height: 843px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 112px 0;
}

section.blog span {
    font-size: 15px;
    line-height: 27px;
    color: var(--main-color);
    font-weight: 700;
}

section.blog h2 {
    color: #000;
    margin: 0 0 70px;
}

section.blog .articles {
    display: flex;
    min-width: 68%;
}

section.blog .articles .article {
    width: 245px;
    height: 472px;
    background-color: #fff;
    margin: 0 20px;
}

section.blog .articles .article div {
    font-size: 12px;
    color: rgba(0, 0, 0, .3);
    font-weight: 700;
    padding: 15px 15px 7px;
    cursor: pointer;
    transition: .2s
}

section.blog .articles .article h4 {
    font-size: 18px;
    line-height: 27px;
    padding: 0 15px;
    font-weight: 600;
    cursor: pointer; 
    transition: .2s;
    color: #000;
}

section.blog .articles .article p {
    padding: 15px 15px;
    line-height: 29px;
    color: #999999;
    font-weight: 400;
}

section.blog .articles .article img{
    height: 190px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer; 
}

section.blog .articles .article h4:hover {
    color: var(--main-color);
}

section.blog .articles .article div:hover {
    color: var(--main-color);
}

footer {
    height: 615px;
    width: 100%;
    padding: 96px 20px;
    background-color: #000;
    display: grid;
    grid-template-columns: 
    minmax(310px, 336px)
    minmax(395px, 458px)
    minmax(230px, 276px);
    justify-content: center;
    color: white;
}

footer h2 {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 33px;
    color: white;
}

footer p {
    line-height: 29px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
footer .pexman .social-media {
    display: flex;
}
footer .pexman .social-media .icon {
    height: 50px;
    width: 50px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

footer .pexman .social-media .icon:hover {
    background-color: #fff;
}

footer .pexman .social-media .icon:hover .iconify {
    background-color: #000;
}

footer .pexman .social-media .icon .iconify {
    font-size: 1.3rem;
}

footer .navigation {
    margin-left: 25px;
}

footer .navigation ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .navigation ul li {
    list-style: none;
    margin: 0 0 13px;
}

footer .navigation ul li a {
    font-weight: 700 !important;
    text-decoration: none;
    color: #999;
    line-height: 29px;
    font-size: 17px;
    transition: .3s all;
}

footer .navigation ul li a:hover {
    color: rgba(217, 192, 120, 0.98); 
}

footer .question{
    height: 250px;
}

footer .question div {
    margin: 0px 0 38px;
    display: flex;
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
    color: #999;
}

footer .question div .iconify {
    margin-right: 20px;
}

footer p:last-child {
    width: 650px;
    margin: 0 0 0 150px;
}

footer p:last-child a {
    text-decoration: none;
    color: var(--main-color);
}



 @media (max-width: 1200px) {


    section.hero aside .description {
        min-width: 83%;
        min-height: 25%;
    }

    section.hero aside .description h1 {
        font-size: 50px
    }

    section.about .about-description {
        width: 50%;
        height: 750px;
    }
    
    section.about .about-description div {
        width: 400px;
        height: 550px;
    }

    section.about .image {
        width: 50%;
    }
    
    section.about .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    section.about .achievements {
        padding: 0 60px;
        height: 200px;
    }

    section.offers {
        display: flex;
    }

    section.offers .image img {
        height: 750px;
    }

    section.cards .card {
        width: 24%;
        margin: 0 20px;
    }
    
    section.cards .card h2 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }
    
    section.blog .articles {
        display: flex;
        max-width: 100%;
    }
} 

@media (max-width: 992px) {
    header {
        height: 47px;
        margin-top: 0;
        background: rgba(0, 0, 0, .7);
    }
    
    nav {
        padding: 0;
        justify-content: space-between;
    }
    
    nav .burger-menu {
        display: flex;
        height: 25px;
    }

    nav .burger-menu.active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
        transition: .4s;
    }

    nav .burger-menu.active span:nth-child(2) {
        display: none;
        transition: .4s;
    }

    nav .burger-menu.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
        transition: .4s;
    }

    nav .logo {
        padding: 5px 0;
        z-index: 3;
    }

    nav .links {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        min-height: 50vh;
        margin-top: 517px;
        transform: translateY(-1000px);
        transition: .4s;
    }

    nav .links.active {
        transform: translateY(0);
        transition: .4s ease;
    }
    
    nav .links li {
        padding: 25px 10px;
    }
    
    nav .links li a {
        font-size: 15px;
        letter-spacing: 4px;
        color: white;
    }
    
    section.hero aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        width: 50%;
        height: 100%;
    }
    
    section.hero aside .description {
        min-width: 63%;
        min-height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 13px;
    }
    
    section.hero aside .description h1 {
        font-size: 40px;
        line-height: 44px;
    }
    
    section.hero aside .page-numbers {
        width: 23%;
        flex-direction: row;
        bottom: 0;
        position: absolute;
    }

    section.about .achievements {
        flex-wrap: wrap;
        height: 333px;
        padding: 0;
    }
    
    section.about .achievements .rating {
        max-width: 430px;
        margin: 0 100px;
        color: whitesmoke;
        z-index: 5;
    }
    
    section.about .achievements .rating h5 {
        color: whitesmoke;
    }

    section.offers {
        margin-top: 144px;
    }
    
    section.offers .image {
        width: 50%;
        height: 100%;
    }
    
    section.offers .image img {
        object-fit: cover;
        max-height: 750px;
        width: 100%;
    }
    
    section.offers .offer-description {
        
        height: 100%;
        padding: 20px 0 0 30px;
    }
    
    section.offers .offer-description ul li p {
        padding: 0 20px;
        width: 100%;
    }

    section.work .filter-projects {
        width: 100%;
        padding: 0 35px;
    }

    section.work h3 {
        width: 90%;
        margin: 0 auto;
    }

    section.work .filter-projects h2 {
        color: rgba(0, 0, 0, .8);
    }
    
    section.work .filter-projects ul {
        max-width: 45%;
        align-items: center;
        flex-wrap: wrap;
    }
    
    section.work .filter-projects ul li {
        margin: 5px 10px;
    }

    section.blog {
        height: 1258px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(248, 248, 248);
        padding: 112px 0;
    }
    
    section.blog span {
        font-size: 15px;
        line-height: 27px;
        color: var(--main-color);
        font-weight: 700;
    }
    
    section.blog h2 {
        color: #000;
        margin: 0 0 70px;
    }
    
    section.blog .articles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-width: 68%;
    }
    
    section.blog .articles .article {
        height: 444px;
        min-width: 336px;
        min-height: 444px;
        background-color: #fff;
        margin: 0 20px 40px;
    }

    footer {
        width: 100% !important;
        height: 1018px;
        padding: 50px 20px 0px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    
    footer h2 {
        margin-bottom: 15px;
    }
    
    footer p {
        margin-bottom: 20px;
    }

    footer .pexman .social-media .icon {
        height: 50px;
        width: 50px;
        margin: 0 5px 45px;
    }

    footer .navigation {
        margin-left: 0;
    }
    
    footer .question div i {
        margin-right: 20px;
        font-size: 24px;
    }
    
    footer p:last-child {
        width: 650px;
        margin-left: 0;
    }
    
    footer p:last-child a {
        text-decoration: none;
        color: var(--main-color);
    }   
}


@media (max-width: 768px) {

    section.hero {
        width: 100%;
    }

    section.hero aside {
        width: 100%;
    }
    
    section.hero aside .description {
        min-height: 0;
        height: 26%;
    }
    
    section.hero aside .description h1 {
        font-size: 40px;
        line-height: 44px;
    }
    
    section.hero aside .page-numbers {
        flex-direction: row;
    }

    section.about {
        max-height: 110vh;
        display: flex;
        flex-wrap: wrap;
    }
    
    section.about .about-description {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 33%;
    }
    
    section.about .about-description div {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 0;
        padding: 20px;
    }
    
    section.about .about-description div h2 {
        color: #000;
    }
    
    section.about .about-description div span {
        display: block;
        font-size: 15px;
        color: var(--main-color);
    }
    
    section.about .image {
        width: 100%;
        height: 550px;
    }
    
    section.about .image img{
        height: 550px;
    }
    
    section.about .achievements {
        justify-content: space-evenly;
        flex-direction: column;
        height: 587px;
    }

    section.offers {
        display: flex;
        flex-direction: column;
    }
    
    section.offers .image {
        height: 550px;
        width: 100%;
        margin-top: 510px;
    }
    
    section.offers .image img {
        max-height: 100%;
    }
    
    section.offers .offer-description {
        width: 100%;
    }

    section.cards {
        flex-wrap: wrap;
        height: 1154px;
    }
    
    section.cards .card {
        width: 100%;
    }
    
    section.work h3 {
        width: 89%;
    }
    
    section.work .filter-projects {
        flex-wrap: wrap;
    }
    
    section.work .filter-projects h2 {
        width: 100%;
    }
    
    section.work .filter-projects ul {
        display: flex;
        max-width: 100%;
    }
    
    section.work .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 300px);
        row-gap: 30px;
    }
    
    section.work .projects .image img {
        width: 100%;
    }

    section.blog {
        height: 220vh;
    }

    section.blog .articles {
        width: 100%;
    }
    
    section.blog .articles .article {
        width: 100%;
        height: 388px;
        margin: 0;
    }
    
    section.blog .articles .article img{
        height: 50%;
    }

    footer p:last-child {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 576px) {

    section.hero aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section.hero aside .description {
        max-height: 50%;
        height: 40%;
        justify-content: space-between;
    }

    section.hero aside .description button {
        width: 260px;
        height: 52px;
    }
    
    section.hero aside .description h1 {
        color: #ffffff;
        font-size: 40px;
        line-height: 44px;
    }
    
    section.hero aside .page-numbers {
        margin: 0 0 0 30px;
    }

    section.about .about-description div {
        min-height: 800px;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 200px;
    }
    
    section.about .about-description div p {
        margin-bottom: 20px;
    }
    
    section.about .image {
        height: 500px;
        margin-top: -300px;
    }
    
    section.about .image img{
        height: 500px;
        max-height: 500px;
    }

    section.offers .offer-description {
        max-width: 100%;
        height: 100%;
    }

    section.clients {
        margin: 60px 0;
        padding-bottom: 112px;
    }
    
    section.clients .client {
        height: 460px;
        width: auto;
        max-width: 400px;
        margin-bottom: 20px;
    }

    section.clients .client p {
        max-width: 70%;
    }

}